# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.pytest_cache/
.mypy_cache/

# Logs
log/
*.log

# Archives
*.7z
*.zip
*.tar.gz

# Virtual environments
venv/
.venv/
env/
